@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
}
.container {
    width: 740px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    margin: 20% 0  1%;
    border-radius: 30px;
    box-shadow: 0 0 45px hsl(241, 100%, 89%);
}
.right-section {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(221, 100%, 96%);
    padding: 10px 60px 50px;
    width: 50%;
    border-radius: 30px;
}
.right-section h2 {
    margin: 25px auto 34px;
}
.cercle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
}

.cercle .a {
    margin: 46px auto 5px;
    font-size: 70px;
    font-weight: 600;
}
.cercle .b {
    margin: -8px auto;
    font-weight: 600;
}
.right-section h1 {
    margin: 30px auto 15px;
}
.right-section p {
    font-size: 18px;
    text-align: center;
}

/* left section */
.left-section {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 50px;
    width: 50%;
}
.left-section h2 {
    margin: 32px 32px 10px;
}
ul {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}
ul li {
    list-style-type: none;
    margin: 15px 30px 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
}
ul li .static-name {
    margin: 0 15px 0 13px;
    font-weight: 800;
    font-size: 18px;
}
.left-side {
    display: flex;
}
#a{
    background-color: hsl(0, 100%, 98%);
    color: hsl(0, 100%, 67%)
}
#b{
    background-color: hsl(39, 100%, 98%);
    color: hsl(39, 100%, 56%);
}
#c{
    background-color: hsl(166, 100%, 98%);
    color: hsl(166, 100%, 37%);
}
#d{
    background-color: hsl(234, 85%, 98%);
    color: hsl(234, 85%, 45%);
}
.numbers {
    color: hsl(224, 30%, 27%);
    font-size: 20px;
    font-weight: 400;
}
.btn {
    margin: 52px auto 0;
}
.btn a {
    color: hsl(234, 85%, 95%);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    background-color: hsl(224, 30%, 27%);
    padding: 16px 108px;
    border-radius: 30px;
}
a:hover {
    background-color: hsl(241, 81%, 54%);
}

@media screen and (max-width: 740px) {
    body {
      background-color: lightgreen;
    }
  }